
## This file designates the default owners for all code within the repository.
# All pull requests affecting these paths will require a review from at least one owner.

# Assign all files and directories in the repository to both founders.
* @IRBSurfer @Ashley-Kelly